.block {
  display: grid;
  gap: 16px;
}

.block > h4 {
  display: flex;
}

.block__row {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: flex-start;
}

.block__row > div:first-child {
  color: #a5a5a5;
  font-weight: 500;
  font-size: 12px;
}

.block__steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
