.recruterBlock {
  display: grid;
  gap: 16px;
}

.recruterBlock > h4 {
  display: flex;
  justify-self: center;
}

.recruterBlock__row {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: flex-start;
  gap: 4px;
}

.recruterBlock__row > div:first-child {
  color: #4bcdd1;
  font-weight: 200;
}

.recruterBlock__steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
