@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  color: #cecece;
  background-color: #222222;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 600px;
  margin: 0 auto 0 auto;
}

button {
  border: none;
  background-color: #7a7a7a;
  border-radius: 4px;
  font-size: 11px;
  padding: 3px 6px;
  margin: 0 20px;
}
